

.btn-secundario{
    border-color: rgb(92, 152, 89) !important
}

.btn-secundario:hover{

    border-color: rgb(56, 102, 103) !important;
    background-color: rgb(92, 152, 89) !important;
}

.card-paleo {
    width: 100% !important;
 }

 .card-bio {
    width: 100% !important;
 }

 .card-mineral {
    width: 100% !important;
 }

 .card-fundador {
    width: 70% !important;
 }



  