

.btn-secundario{
    border-color: rgb(92, 152, 89) !important
}

.btn-secundario:hover{

    border-color: rgb(56, 102, 103) !important;
    background-color: rgb(92, 152, 89) !important;
}

.card-paleo {
    width: 100% !important;
    border-radius: 1%;
 }

 .card-bio {
    width: 100% !important;
    border-radius: 1%;
 }

 .card-mineral {
    width: 100% !important;
    border-radius: 1%;
 }

 .card-fundador {
    width: 70% !important;
    border-radius: 1%;
 }

 .col-md-8{
    background-color: rgb(243, 243, 243);
 }

 .col-md-4{
   background-color: rgb(243, 243, 243);
}

.mb-3{
   width: 90%;
   height: 90%;
margin: auto;   }

   


  