.site-description-item-profile-wrapper {
    margin-bottom: 7px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5715;
  }
  
  .ant-drawer-body p.site-description-item-profile-p {
    display: block;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    line-height: 1.5715;
  }
  .ant-row {
    justify-content: center !important;
  }
  .site-description-item-profile-p-label {
    display: inline-block;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.85);
  }

  .contenedor-form-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-left: 15%;
    border: 1px solid rgba(114, 112, 112, 0.237);
    width: 70%;
    margin-top: 5%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .list-tickets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .ant-card{
    margin-bottom: 1rem;
  }

  @media (max-width: 600px) {
  
    .ticket{
      height: 300px !important;
      width: 150px !important;
    }

    .ant-card-meta-detail{
      display: flex;
      flex-wrap: wrap !important;
    }

    .ant-card-meta{
      display: flex;
      flex-direction: column !important;
    }
    .ant-list-item-meta{

      flex-wrap: wrap;
      display: flex;
      flex-direction: column !important;
    }

    .site-description-item-profile-wrapper{
      overflow: hidden;
      display: flex;
      flex-wrap: wrap !important;
    }

    .layout-dashboard-perfil{
      min-height: 600vh !important
    }
 
 }