.img-historia{
    width: 80%;
    margin: 2%;
}

.row-contenedor-historia{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 2rem !important;
    font-family: 'Baskervville' !important;
    background-color:rgba(243, 243, 243, 0.822);
}

.titulo-historia{
    margin-bottom: 0.5rem !important;
    align-items: flex-start !important;
    font-family: 'Baskervville' !important;
}

.texto-historia{
    font-family: 'Baskervville' !important;
    font-size: 15px;
}

.subtitulo-historia{
    margin-top: 3rem;
}

.lista-historia{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 2%; 
    margin-left: 24%;
}

.img-historia-2{
    width: 40%;
    margin: 2%;
}

.row2{
    margin-top: 5%;
}

.row3{
    margin-top: 2%;
}

.lista-historia{
    width: 100%;
    margin-left: auto;
}


.bgImg-1,
.bgImg-2,
.bgImg-3{
    position: relative;
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 50vh; */
}

.bgImg-1{
    background-image: url('../../Imagenes/Pictures_fachada_museo/MuseoFachada1.jpg');
    min-height: 70vh;
    background-position: center;
}
.bgImg-2{
    background-image: url('../../Imagenes/Pictures_Geologica/Exploracion.jpg');
    min-height: 30vh;
    background-position: center;
}
.bgImg-3{
    background-image: url('../../Imagenes/Pictures_areas/equipoMuseo.jpg');
    min-height: 30vh;
    background-position: center;
}

.caption{
    position: absolute !important;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.sectionUno{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 200px;
}

@media screen and (max-width: 700px) {
    .sectionUno {
        padding: 0 0 0 0;
    }
  }

.badgeImagen{
    background-color: rgb(92, 152, 89) !important;
}

.containerTextArea{
    border: none !important;
    overflow: hidden !important;
    width: 100% !important;
    height: 100% !important;
}

.objs ::marker {
    color:  rgb(92, 152, 89) !important;  

}