.img-historia{
    width: 80%;
    margin: 2%;
}

.row-contenedor-historia{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 2rem !important;
    font-family: 'Baskervville' !important;
    background-color:rgba(243, 243, 243, 0.822);
}

.titulo-historia{
    margin-bottom: 0.5rem !important;
    align-items: flex-start !important;
    font-family: 'Baskervville' !important;
}

.texto-historia{
    font-family: 'Baskervville' !important;
    font-size: 15px;
}

.subtitulo-historia{
    margin-top: 3rem;
}

.lista-historia{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 2%; 
    margin-left: 24%;
}

.img-historia-2{
    width: 40%;
    margin: 2%;
}

.row2{
    margin-top: 5%;
}

.row3{
    margin-top: 2%;
}

