.answerFormContainer {
    display: auto;
    flex-direction: column;
    gap: 20%;
   
}

.answerTextarea {
    border-radius: .5em;
    height: 10%;
    width: 50%;
    display: flex;
}

.inputLabelField {
    display: flex;
    flex-direction: column;
}

.boton-borrar-comentario{
    background-color: rgb(207, 2, 2);
    color:white;

}

.boton-borrar-comentario:hover{
    background-color: rgb(123, 4, 4);
    color:white !important;
    border-color: white !important;
}

