

.img-evento-detail{
    width: 50% !important;
    border-radius: 15px;  
    margin-bottom: 2rem;  
}

.contenedor-detalle-evento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:4rem;
   
}

.card-title{
    margin-bottom: 2rem;
}

.img-guide{
    width: 30%;
    border-radius: 15px; 
}

.precio-evento{
    font-size: large;
}

.card-text{
    font-size: large;

}

.detalle-evento-info{
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 2rem;

}



.detalle-guia{
    display: flex;
    justify-content: end;
    margin-left: 2rem;
    width:70%;
}

.detalle-ev{
    background-color:rgba(243, 243, 243, 0.822);
}

.fondo-guide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(243, 243, 243, 0.822);
}

.boton-agregar-carrito:hover{

    background-color:rgb(158, 213, 155) !important;
    color:white !important;
    border-color: white !important;
    border-radius: 10px;
    height: 2.5rem;
    width: 10rem;
}

.boton-agregar-carrito{
    background-color:  rgb(92, 152, 89) !important ;
    color:white !important;
    border-color: white !important;
    height: 2.5rem;
    width: 10rem;
    border-radius:10px;
}


.comentarios-opiniones{
    display: flex;
 
}

.comentarios-todos{
    border: 1px solid rgba(196, 196, 196, 0.482);
    border-radius: 10px;
  
}
.div-precio-boton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a{
    text-decoration: none;
}

.cantidad-entradas{
    margin-right: 1rem;
}



@media only screen and (min-width: 320px) and (max-width: 1000px) {
   .contenedor-detalle-evento{
    display: flex;
    flex-direction: column !important
   }

   .detalle-guia{
    display: flex;
    justify-content: end;
    margin-left: 0rem !important;
    width:70%;
    margin-top:2rem !important
}

.col{
    padding: 0px !important;
}

.detalle-evento-info{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    margin-bottom: 0rem !important;
}
 
 }

.coment-rate{
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* margin-right: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;   
}