.divContenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 5px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.selectFil{
    border: transparent;
    border-radius: 8px;

}


