.evento{
    display: flex;
    flex-direction: column;
    margin:2rem;
    
}

.list-card-eventos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.carta-evento-list{
    margin:1rem;

}

.img-list-card{
    height: 200px !important;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.btn-carrito:hover{
    border-color: rgb(1, 165, 1) !important;
    color: rgb(0, 178, 0) !important;
}