.containerA{
    height: 100%;
    width: 80%;
   display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 15px;
    padding: 5px;
    gap: 15px;
    align-self: center;
    justify-content: center; 
    margin-top: 20px; 
    
    margin-bottom: 2rem;
  
}

.buttonContacto{
    background-color: rgb(55, 103, 55) !important;
    border: transparent;
    border-radius: 8px;
    
    margin-top: 10px;
    margin-left: 43%;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color:white

}

.h3{
    margin: 8px;
}

.buttonContacto:hover {
    background-color: rgb(8, 91, 0) !important;
    color:white
}

.cardAbout {
    height: 170px;
    width: 170px;
    border: transparent;
    border-radius: 999px;
    transition: background 0.8s;
    overflow: hidden;
    background: rgba(195, 217, 194, 0.167);
    box-shadow: 0 70px 63px -60px #000000;
    margin: 20px; 
    gap: 15px;

}

.cardAbout:hover {
    height: 520px;
    width: 300px;
    background: rgba(186, 199, 185, 0.575);
    border: transparent;
    border-radius: 10px;
    transition:  1s;
    background: rgba(212, 237, 210, 0.329);
    overflow: hidden;
    box-shadow: 0 70px 63px -60px #000;
    display: row;
    flex-direction: column;    
}

.icon{
    margin:0.5rem
}

.aptitudes{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
}



.nameA {
    color: rgb(253, 254, 255);
    margin: 15px;
    opacity: 0;
    transition: opacity 1s;   
    border: 1px rgba(56, 103, 69, 0.079);
    border-radius: 20px;
    background-color: rgba(56, 103, 60, 0.527);
    
}

.buttonGitLink {
    color: black;    
    opacity: 0;
    transition: opacity 1s;
    width: 50px;
    height: 50px;    
}

.iconsA {
    margin-top: 1px;
    gap: 2rem;      
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    
}

.card0 {
    background: url("https://scontent.faep9-1.fna.fbcdn.net/v/t39.30808-6/280859244_5444831722195200_2702713887295362240_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=maVlGh5QOCgAX_stiAy&_nc_ht=scontent.faep9-1.fna&oh=00_AfCcEWWnD2HbMe5p28oIpCU6K8p0EH2m_A3XanLflCNfzQ&oe=640EFFE8") center center no-repeat;
    background-size: cover;
}

.card0:hover .nameA {
    opacity: 1
}

.card0:hover .buttonGitLink {
    opacity: 1
}

.card0:hover .aptitudes{
    opacity: 1;
}

.card1 {
    background: url("https://avatars.githubusercontent.com/u/73863384?v=4") center center no-repeat;
    background-size: cover;
}

.card1:hover .nameA {
    opacity: 1
}

.card1:hover .buttonGitLink {
    opacity: 1
}

.card1:hover .aptitudes{
    opacity: 1;
}

.card2 {
    background: url("https://avatars.githubusercontent.com/u/70448138?v=4") center center no-repeat;
    background-size: cover;
}

.card2:hover .nameA {
    opacity: 1
}

.card2:hover .buttonGitLink {
    opacity: 1
}

.card2:hover .aptitudes{
    opacity: 1;
}

.card3 {
    background: url("https://avatars.githubusercontent.com/u/99771510?v=4") center center no-repeat;
    background-size: cover;
}

.card3:hover .nameA {
    opacity: 1
}

.card3:hover .buttonGitLink {
    opacity: 1
}

.card3:hover .aptitudes{
    opacity: 1;
}

.card4 {
    background: url("https://media.licdn.com/dms/image/D4D03AQG8VUSBeAC4Tw/profile-displayphoto-shrink_800_800/0/1664192927553?e=1683158400&v=beta&t=zk_AKKMHzxyuErlitlUFg_dXMvn1pkPQut-MOZ8dsS0") center center no-repeat;
    background-size: cover;
}

.card4:hover .nameA {
    opacity: 1
}

.card4:hover .buttonGitLink {
    opacity: 1
}

.card4:hover .aptitudes{
    opacity: 1;
}

.card5 {
    background: url("https://media.licdn.com/dms/image/D4D35AQEaHYa-7Jk8LQ/profile-framedphoto-shrink_800_800/0/1644166832387?e=1678420800&v=beta&t=tYhoZ7GOfyzjCf8WPYwZUdPztROqKtCEhvDWRzkTHEs") center center no-repeat;    
    background-size: cover;
}

.card5:hover .nameA {
    opacity: 1
}

.card5:hover .buttonGitLink {
    opacity: 1
}
.card5:hover .aptitudes{
    opacity: 1;
}

.card6 {
    background: url("https://media.licdn.com/dms/image/D4D35AQGmUOfCJBIOjg/profile-framedphoto-shrink_800_800/0/1677647075656?e=1678420800&v=beta&t=hYeaOB3ejN4xlHu07hj5gLHywbXow5OOXEupNqOJPCQ") center center no-repeat;    
    background-size: cover;
}

.card6:hover .nameA {
    opacity: 1
}

.card6:hover .buttonGitLink {
    opacity: 1
}
.card6:hover .aptitudes{
    opacity: 1;
}

.card7 {
    background: url("https://media.licdn.com/dms/image/D4E35AQFIFu_ISfwWAQ/profile-framedphoto-shrink_800_800/0/1654094678827?e=1678420800&v=beta&t=1Z2bMOZ3JWTzjroiWuFvMEYSsYBKBFPbTwpvVTo1JNg") center center no-repeat;    
    background-size: cover;
}

.card7:hover .nameA {
    opacity: 1
}

.card7:hover .buttonGitLink {
    opacity: 1
}
.card7:hover .aptitudes{
    opacity: 1;
}

@media only screen and (min-width: 320px) and (max-width: 1000px) {
    .containerA{
        display: flex;
        flex-wrap: wrap;
    }
    .containerA{
     
        margin-left: 0.5rem;
       
    }
}