.list-tickets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}

.ticket{
    margin:1rem
}

.estado-ticket{
    margin:1rem
}

.icono-react{
font-size: 16px
}

.ant-pagination-options{
    display: none !important;
}