.list-tickets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}

.ticket{
    margin:1rem
}

.estado-ticket{
    margin:1rem
}

.icono-react{
font-size: 16px
}

.ant-pagination-options{
    display: none !important;
}

.select-ant{
   width: 250px;
}


@media (max-width: 600px) {


    .ticket-dashboard{
    height: 500px !important;
    width: 150px !important;
    margin:1rem !important
   } 
   
  
 }
