.sbcontainer {
    display:auto;
    flex-direction: row;
    justify-content: flex-end;

}
.sbbot {
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    padding: 8px 24px;
    border-radius: 8px;
}

