.sbcontainer {
    display:flex;
    flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;

}
.sbbot {
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    padding: 8px 24px;
    border-radius: 8px;
}

.sbinput{
    width: 15%;
    height: 2.3rem;

}

.buscar-serchbar{
    padding-top: 1.5%;
    margin-right: 0.5rem;
    display:flex;
    text-align: center;
    align-items: center;
}


@media (max-width: 1000px) {
    .sbinput{
        width: 100%;
        height: 2.3rem;
    
    }
   }