.contenedor-dashboard{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    
}

 .canva{
    padding: 2rem;
} 

.contenedor-porcentajes{
    display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.card{
    margin-bottom: 2rem !important;
}
#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }

.contenedor-dash{
    margin-top: 1rem;
}

.titulo-dashboard{
    padding-top: 2rem;
    font-family:"Baskervville" ;
}


