.contenedor-dashboard{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    
}


.contenedor-porcentajes{
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-bottom: 2rem;
}

.card-dashboard{
    margin-bottom: 2rem !important;
}

.contenedor-dash{
    margin-top: 1rem;
}

.titulo-dashboard{
    padding-top: 2rem;
    font-family:"Baskervville" ;
}

ol{
    display: block !important;
}

.contenedorCartasFinance{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-finance{
    margin: 4.5rem;
}


@media (max-width: 600px) {
   .ant-layout{
        min-height: 300vh !important;
   }

   .contenedor-dashboard{
 
    margin: 0rem !important;
    
}

.ant-select-selector{
    width: 50% !important;
}

.ant-select-arrow{
    display: none !important;
}

.contenedorCartasFinance{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}


}

