.contenedor-form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    margin-left: 15%;
    border: 1px solid rgba(114, 112, 112, 0.237);
    width: 70%;
    margin-top: 5%;
}

.login-form{
    padding: 10%;
}

.login-form-button{
    margin-right: 0.5rem;
}

.img-logo-login{
    margin-top: 2rem;
    width: 30%;
}

.btn-google{
   
    border-color:rgba(146, 144, 144, 0.825);
    color:black;
    background-color: white;
}

.btn-google:hover{
    border-color:rgba(146, 144, 144, 0.825);
    color:black !important;
    background-color: rgba(200, 197, 253, 0.893) !important;
}

.button__login{
    border-radius: 5px;
}

.button__logout{
    border-radius: 5px;
}

.foto-login{
    width:35px;
    height:35px;
    border-radius: 20px;
    margin-right: 1rem;
}

.componente-login{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 90%;
}

.texto-login{
    text-align: center;
    align-items: center;
}

.usuario{
    height: 2.5rem;
    margin-right: 1rem;
}

.cerrar-sesion{
   width: 100%;
  
}

.foto-login:hover{
    transform: scale(1.2);
}

.foto-admin{
    display: flex;
    flex-direction: column;
}