body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Baskervville';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

p{
  color:rgba(11, 11, 11, 0.833)
}

h2{
  color:rgba(11, 11, 11, 0.833)
}
h1{
  color:rgba(11, 11, 11, 0.833)
}
h3{
  color:rgba(11, 11, 11, 0.833)
}
h4{
  color:rgba(11, 11, 11, 0.833)
}

p{
  margin-bottom: 0px !important;
}
